#more {
    cursor: pointer;
    background: #eee;
}

body{
  font: georgia;
}
.logoOne{
  background-image: url("../images/logo.jpeg");
  background-repeat: no-repeat;
  background-size: 500px 500px;
}
.logoTwo{
  background-image: url("../../images/logo.jpeg");
  background-repeat: no-repeat;
  background-size: 500px 500px;
}
.roundTable{
 border: 2px solid;
  border-radius: 10px;
  border-color: rgba(0 , 0 , 0, 1);
}
.blackBorder{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.yellowButton{
  background-color: #b3c6ff;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.greyBox{
  background-color: rgba(255, 255, 230,.6);
}

.blueBox{
  background-color: #668cff;
}
.blueBorder{
  border-style: solid;
  border-color:#000066;
  border-width: 5px;
}
.tablePadding{
  padding:5px;
}
.yellowText{
  color: #ffe066;
}
.blueText{
  color: #3366cc;
}
.tableHeadText{
  font-size: 20px;
}
.containered{width:100%;}
.left{float:left;}
.right{float:right;}
.center{margin:0 auto;}

.Row{
  display:table;
  margin-bottom:20px;
}
.Column{
  display:table-cell;
}
.skillBox{
  display: none;
  height: 100px;
  width: 200px;
}
.custom-file-upload {
    border: 1px solid black;
    display: inline-block;
    padding: 2px 6px;
    cursor: pointer;
    background-color: #b3c6ff;
    border-radius: 2px;
    margin-top:10px;
}
input[type="file"] {
    display: none;
}
.titleStyle{
  color:#001a66;font-family:Georgia;
}
