@model VolunteerWebApp.Models.OpportunityIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Full Opportunity Summary</h2>


<p>Event name: @Model.Opportunity.Title</p>

