@model VolunteerWebApp.Models.SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<style>
     /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
     #map {
         height: 200px;
     }
</style>

<div id="map"></div>

<script>
    var map;
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var labelIndex = 0;


    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });

      

        @foreach (var item in Model.cleanOpps)
      {

          @:addPin(@item.GeoLocation[0], @item.GeoLocation[1])
                        }
    }



    function addPin(latitude, longitude) {
        var marker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            label: labels[labelIndex++ % labels.length],
            map: map
        });
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABln82MFoySBkjQPoJjeVYgeoK_R_RKPE&callback=initMap"
        >
</script>
