
@{
    ViewBag.Title = "AddPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddPhoto</h2>

<form action="AddPhoto" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend> Upload Image </legend>
        <label for="Image">Image</label>
        <input type="file" name="Image" />
        <br />
        <input id="photo" type="submit" value="Upload" />
    </fieldset>
</form>
