
@{
    ViewBag.Title = "OrganizationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>OrganizationIndex</h2>

<li>@Html.ActionLink("Update my Info", "Info", "Organization")</li>
