@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
        background-image: url("../images/helpHubTogether.png");
        background-repeat:no-repeat;
        background-size:70%;
        background-position-x:center;
        background-position-y: 150px;
       
    }
</style>


<link rel="stylesheet" type="text/css" href="../css/capstone.css">

<div>



</div>