@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
        background-image: url("../images/logoTwoLarge.png");
        background-repeat:no-repeat;
        background-size:70%;
        background-position-x:center;
        background-position-y: 150px;
       
    }
</style>



<div>



</div>