
@{
    ViewBag.Title = "VolunteerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VolunteerIndex</h2>

<li>@Html.ActionLink("Update my Info", "Info", "Volunteer")</li>
<li>@Html.ActionLink("Update my Skills", "Skills", "Volunteer")</li>
<li>@Html.ActionLink("Account Settings", "Settings", "Volunteer")</li>