@model VolunteerWebApp.Models.VolunteerSkillsViewModel
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Skills</h2>
@using (Html.BeginForm("Skills", "Volunteer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <p>Animal Services </p>
    <form>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starOne('IdOne','IdTwo','IdThree','IdFour','IdFive')" type="radio" name="Animal" value="1"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="IdOne">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starTwo('IdOne', 'IdTwo', 'IdThree', 'IdFour', 'IdFive')" type="radio" name="Animal" value="2"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="IdTwo">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starThree('IdOne', 'IdTwo', 'IdThree', 'IdFour', 'IdFive')" type="radio" name="Animal" value="3"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent"  id="IdThree">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFour('IdOne', 'IdTwo', 'IdThree', 'IdFour', 'IdFive')" type="radio" name="Animal" value="4"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent"  id="IdFour">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFive('IdOne', 'IdTwo', 'IdThree', 'IdFour', 'IdFive')" type="radio" name="Animal" value="5"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="IdFive">
        </label>
        <button onclick="showBox('AnimalBox')" type="button">Add Description od skills</button>
        @Html.TextAreaFor(m => m.AboutSkills, new { style = "visibility:hidden", id = "AnimalBox" })




        <br /><br />
        <p>Disaster Services </p>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starOne('DisasterOne', 'DisasterTwo', 'DisasterThree', 'DisasterFour', 'DisasterFive')" type="radio" name="Disaster" value="1"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="DisasterOne">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starTwo('DisasterOne', 'DisasterTwo', 'DisasterThree', 'DisasterFour', 'DisasterFive')" type="radio" name="Disaster" value="2"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="DisasterTwo">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starThree('DisasterOne', 'DisasterTwo', 'DisasterThree', 'DisasterFour', 'DisasterFive')" type="radio" name="Disaster" value="3"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="DisasterThree">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFour('DisasterOne', 'DisasterTwo', 'DisasterThree', 'DisasterFour', 'DisasterFive')" type="radio" name="Disaster" value="4"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="DisasterFour">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFive('DisasterOne', 'DisasterTwo', 'DisasterThree', 'DisasterFour', 'DisasterFive')" type="radio" name="Disaster" value="5"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="DisasterFive">
        </label>

        <br /><br />
        <p>Education Services </p>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starOne('EducationOne', 'EducationTwo', 'EducationThree', 'EducationFour', 'EducationFive')" type="radio" name="Education" value="1"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EducationOne">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starTwo('EducationOne', 'EducationTwo', 'EducationThree', 'EducationFour', 'EducationFive')" type="radio" name="Education" value="2"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EducationTwo">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starThree('EducationOne', 'EducationTwo', 'EducationThree', 'EducationFour', 'EducationFive')" type="radio" name="Education" value="3"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EducationThree">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFour('EducationOne', 'EducationTwo', 'EducationThree', 'EducationFour', 'EducationFive')" type="radio" name="Education" value="4"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EducationFour">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFive('EducationOne', 'EducationTwo', 'EducationThree', 'EducationFour', 'EducationFive')" type="radio" name="Education" value="5"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EducationFive">
        </label>


        <br /><br />
        <p>Enviornment Services </p>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starOne('EnviornmentOne', 'EnviornmentTwo', 'EnviornmentThree', 'EnviornmentFour', 'EnviornmentFive')" type="radio" name="Enviornment" value="1"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EnviornmentOne">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starTwo('EnviornmentOne', 'EnviornmentTwo', 'EnviornmentThree', 'EnviornmentFour', 'EnviornmentFive')" type="radio" name="Enviornment" value="2"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EnviornmentTwo">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starThree('EnviornmentOne', 'EnviornmentTwo', 'EnviornmentThree', 'EnviornmentFour', 'EnviornmentFive')" type="radio" name="Enviornment" value="3"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EnviornmentThree">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFour('EnviornmentOne', 'EnviornmentTwo', 'EnviornmentThree', 'EnviornmentFour', 'EnviornmentFive')" type="radio" name="Enviornment" value="4"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EnviornmentFour">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFive('EnviornmentOne', 'EnviornmentTwo', 'EnviornmentThree', 'EnviornmentFour', 'EnviornmentFive')" type="radio" name="Enviornment" value="5"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="EnviornmentFive">
        </label>
        






        <br /><br />
        <p>Health Services </p>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starOne('HealthOne', 'HealthTwo', 'HealthThree', 'HealthFour', 'HealthFive')" type="radio" name="Health" value="1"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HealthOne">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starTwo('HealthOne', 'HealthTwo', 'HealthThree', 'HealthFour', 'HealthFive')" type="radio" name="Health" value="2"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HealthTwo">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starThree('HealthOne', 'HealthTwo', 'HealthThree', 'HealthFour', 'HealthFive')" type="radio" name="Health" value="3"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HealthThree">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFour('HealthOne', 'HealthTwo', 'HealthThree', 'HealthFour', 'HealthFive')" type="radio" name="Health" value="4"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HealthFour">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFive('HealthOne', 'HealthTwo', 'HealthThree', 'HealthFour', 'HealthFive')" type="radio" name="Health" value="5"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HealthFive">
        </label>


        <br /><br />
        <p>Human Services </p>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starOne('HumanServicesOne', 'HumanServicesTwo', 'HumanServicesThree', 'HumanServicesFour', 'HumanServicesFive')" type="radio" name="HumanServices" value="1"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HumanServicesOne">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starTwo('HumanServicesOne', 'HumanServicesTwo', 'HumanServicesThree', 'HumanServicesFour', 'HumanServicesFive')" type="radio" name="HumanServices" value="2"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HumanServicesTwo">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starThree('HumanServicesOne', 'HumanServicesTwo', 'HumanServicesThree', 'HumanServicesFour', 'HumanServicesFive')" type="radio" name="HumanServices" value="3"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HumanServicesThree">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFour('HumanServicesOne', 'HumanServicesTwo', 'HumanServicesThree', 'HumanServicesFour', 'HumanServicesFive')" type="radio" name="HumanServices" value="4"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HumanServicesFour">
        </label>
        <label>
            <input style="visibility: hidden; position: absolute;" onclick="starFive('HumanServicesOne', 'HumanServicesTwo', 'HumanServicesThree', 'HumanServicesFour', 'HumanServicesFive')" type="radio" name="HumanServices" value="5"><img src="../images/greyStar.png" style="height:30px; width:30px; cursor:pointer; border:2px solid transparent" id="HumanServicesFive">
        </label>

        <p>Tell us a little bit about your skill levels</p>
        <div>
        </div>
        <button type="submit">Submit Skills</button>
    </form>
}

<script>
function starOne(a,b,c,d,e) {
  document.getElementById(a).src='../images/yellowStar.png'
  document.getElementById(b).src = '../images/greyStar.png'
  document.getElementById(c).src = '../images/greyStar.png'
  document.getElementById(d).src = '../images/greyStar.png'
  document.getElementById(e).src = '../images/greyStar.png'
}
function starTwo(a,b,c,d,e) {
    document.getElementById(a).src = '../images/yellowStar.png'
    document.getElementById(b).src = '../images/yellowStar.png'
    document.getElementById(c).src = '../images/greyStar.png'
    document.getElementById(d).src = '../images/greyStar.png'
    document.getElementById(e).src = '../images/greyStar.png'
}
function starThree(a,b,c,d,e) {
    document.getElementById(a).src = '../images/yellowStar.png'
    document.getElementById(b).src = '../images/yellowStar.png'
    document.getElementById(c).src = '../images/yellowStar.png'
    document.getElementById(d).src = '../images/greyStar.png'
    document.getElementById(e).src = '../images/greyStar.png'
}
function starFour(a,b,c,d,e) {
    document.getElementById(a).src = '../images/yellowStar.png'
    document.getElementById(b).src = '../images/yellowStar.png'
    document.getElementById(c).src = '../images/yellowStar.png'
    document.getElementById(d).src = '../images/yellowStar.png'
    document.getElementById(e).src = '../images/greyStar.png'
}
function starFive(a,b,c,d,e) {
    document.getElementById(a).src = '../images/yellowStar.png'
    document.getElementById(b).src = '../images/yellowStar.png'
    document.getElementById(c).src = '../images/yellowStar.png'
    document.getElementById(d).src = '../images/yellowStar.png'
    document.getElementById(e).src = '../images/yellowStar.png'
}
function showBox(Id) {
    document.getElementById(Id).style.visibility = "visible"
}
</script>



<li>@Html.ActionLink("Back to my Profile", "Index", "Volunteer")</li>
